*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    nav{
        display: flex;
        justify-content: space-between;
    }
    nav ul{
        position: absolute;
        right: 0;
        display: none;
    }
}

@media screen and (min-width: 600px) {
    nav{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    nav ul{
        list-style: none;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        gap: 3rem;
    }

    #burgermenu{
        display: none;
    }
}